# Server
PORT=5000
NODE_ENV=development

# MySQL
# Điền thông tin ở đây
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=yolofarm

# JWT đã thiết lập sẵn
JWT_SECRET=yolofarm_jwt_secret_key_2024
JWT_EXPIRES_IN=24h

# Adafruit IO đã thiết lập sẵn
AIO_USERNAME=Chicong2005
AIO_KEY=aio_Humc78Nsh94pCIHwU3cXaT5viV3e
AIO_FEED_TEMPERATURE=temperature
AIO_FEED_HUMIDITY=humidity
AIO_FEED_SOIL_MOISTURE=soil-moisture
AIO_FEED_LIGHT=light
AIO_FEED_PUMP1=pump1
AIO_FEED_PUMP2=pump2
AIO_FEED_LED=led-rgb

# AI Service
AI_API_URL=http://localhost:8000

# Google OAuth đã thiết lập sẵn
GOOGLE_CLIENT_ID=120866169157-vcbo165ij3m9gc3q8fm3b9kr9va62fqv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
