# Server
PORT=5000
NODE_ENV=development

# MySQL
# Điền thông tin ở đây
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=yolofarm

# JWT đã thiết lập sẵn
JWT_SECRET=yolofarm_jwt_secret_key_2024
JWT_EXPIRES_IN=24h

# Adafruit IO
AIO_USERNAME=Chicong2005
AIO_KEY=aio_Humc78Nsh94pCIHwU3cXaT5viV3e
AIO_FEED_TEMPERATURE=yolofarm.temperature
AIO_FEED_HUMIDITY=yolofarm.humidity
AIO_FEED_SOIL_MOISTURE=yolofarm.soil-moisture
AIO_FEED_LIGHT=yolofarm.light
AIO_FEED_PUMP1=yolofarm.pump1
AIO_FEED_PUMP2=yolofarm.pump2
AIO_FEED_LED=yolofarm.led-rgb

# AI Service
AI_API_URL=http://localhost:8000

# Google OAuth đã thiết lập sẵn
GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>